[submodule "alef/paml"]
	path = alef/paml
	url = https://github.com/afarah1/paml.git
[submodule "alef/fastcodeml"]
	path = alef/fastcodeml
	url = https://gitlab.sib.swiss/phylo/fastcodeml.git
[submodule "alef/slimcodeml"]
	path = alef/slimcodeml
	url = https://github.com/afarah1/slimcodeml.git
