[submodule "alef/paml"]
	path = alef/paml
	url = https://github.com/afarah1/paml.git
[submodule "alef/fastcodeml"]
	path = alef/fastcodeml
	url = https://gitlab.sib.swiss/phylo/fastcodeml.git
[submodule "alef/slimcodeml"]
	path = alef/slimcodeml
	url = https://github.com/afarah1/slimcodeml.git
[submodule "alef/angsd"]
	path = alef/angsd
	url = https://github.com/ANGSD/angsd
[submodule "alef/htslib"]
	path = alef/htslib
	url = https://github.com/samtools/htslib
[submodule "alef/samtools"]
	path = alef/samtools
	url = https://github.com/samtools/samtools.git
[submodule "alef/bcftools"]
	path = alef/bcftools
	url = https://github.com/samtools/bcftools.git
[submodule "alef/infufrgs"]
	path = alef/infufrgs
	url = git@github.com:schnorr/infufrgs.git
